# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Databases
*.db

# Logs
logs/

# OS / editor files
.DS_Store
Thumbs.db
*.tmp.*
.idea/
.vscode/
*.swp
*.swo

# Streamlit secrets
.streamlit/secrets.toml
